<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>
<body>
<header>
    <h1>Duster Time</h1>
</header>
<section class="container">
    <div class="profile-info">
        <img src="{% static 'img/duster.jpg' %}" alt="Главное изображение " class="main-image">
        <h2>Сколько осталось:</h2>
        <div class="">
            <a href="{% url 'check_time' %}" class=""><button class="action_button">Check Time</button></a>
        </div>
    </div>
</section>
<footer>
    <h6>by Alexei Giro</h6>
</footer>
</body>
</html>